<%= simple_form_for @announcement do |f| %>
<%= f.input :title %>
<%= f.input :publish_date, as: :date, html5: true %>
<div class="row">
  <div class="col-md-6">
    <%= f.input :body %>
  </div>
  <div class="col-md-6">
    <label class="control-label">
      Preview
      </label>
    <div class="panel panel-default">
      <div id="body_preview" class="panel-body">

      </div>
    </div>
  </div>
</div>

<%= f.button :submit, class: 'btn btn-primary pull-right' do %>
<i class="fa fa-save"></i>
<% end %>
<% end %>
