<% cache do %>
<div class="col-md-4 media resident-list-item">
  <div class="media-left media-middle">
    <a href="<%= residents_show_path(id: resident.id) %>">
      <%= image_tag resident.image, class: 'resident-image' %>
    </a>
  </div>
  <div class="media-body">
    <h3 class="media-heading"><a href="<%= residents_show_path(id: resident.id) %>"><%= resident.name %></a></h3>

    <div>
      <% resident.unit_users.each do |unit| %>
        <%= unit.is_owner ? 'Owns' : 'Lives in' %> #<%= unit.unit.number %> (<%= unit.unit.floor.ordinalize %> floor)
      <% end %>
    </div>

    <div>
      <a href="mailto:<%= resident.email %>"><i class="fa fa-envelope"></i></a>
    </div>
  </div>
</div>
<% end %>
