<% cache resident do %>
<div class="col-md-4">
  <div class="media resident-list-item">
    <div class="media-left media-middle">
      <a href="<%= residents_show_path(id: resident.id) %>">
          <% if resident.image %>
            <div class="resident-image" style="background-image: url('<%= resident.image %>')">
            </div>
          <% else %>
            <div class="resident-image">
              <i class="fa fa-user"></i>
            </div>
          <% end %>
      </a>
    </div>
    <div class="media-body">
      <h3 class="media-heading"><a href="<%= residents_show_path(id: resident.id) %>"><%= resident.name %></a></h3>

      <div>
        <% if resident.unit %>
          Lives in #<%= resident.unit.number %> (<%= resident.unit.floor.ordinalize %> floor)
        <% end %>
        <% resident.owns.each do |unit| %>
          Owns #<%= unit.number %> (<%= unit.floor.ordinalize %> floor)
        <% end %>
      </div>

      <div>
        <a href="mailto:<%= resident.email %>"><i class="fa fa-envelope"></i></a>
        <%= link_to resident.facebook_url do %>
          <i class="fa fa-facebook-square"></i>
        <% end if resident.facebook_url %>
      </div>
    </div>
  </div>
</div>
<% end %>
