<div id="admin-user-index">
  <h1>Users</h1>
  <table class="table table-striped">
    <tr>
      <th>Name</th>
      <th>Role</th>
      <th>Lives In</th>
      <th>Owns</th>
      <th>Phone</th>
    </tr>
    <% for user in users %>
    <tr>
      <td><%= link_to user.name, edit_admin_user_path(user.id) %></td>
      <td><%= user.role %></td>
      <td><%= user.unit.number if user.unit %></td>
      <td><%= user.owns.map(&:number).join(',') %></td>
      <td><%= user.phone %></td>
    </tr>
    <% end %>
  </table>
</div>
